.box {
    border: 1px solid black;
}

.toggle-lines {
    border: none;
}

.box:hover {
    background-color: grey;
}

#grid {
    width: 510px;
    height: 510px;
    display: grid;
    background-color: #FFF;
    box-shadow: 0 0 10px;
    border: 1px solid black;
}



/* input[type='range'] {
    width: 400px;
}



.box {
    border: 1px solid black;
    box-sizing: border-box;
    display: inline-block;
    width: 25px;
    height: 25px;
}

#container {
    width: 500px;
    height: 500px;
}

#container>div {
    height: 25px;
} */




/* #settings {
    padding: 0 2vw;
    display: flex;
    justify-content: center;
}

#grid {
    border: 2px solid black;
    border-radius: 1rem;
    width: 70rem;
    height: 70rem;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.box {
    border: 0.5px solid black;
    border-radius: 0.5rem;
}

.box.active {
    background-color: var(--color-blue);
} */