body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #1d3557;
    font-family: 'PT Sans', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    font-size: 50px;
}

#container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

#container::before {
    content: "";
}

#container::after {
    content: "";
}

#btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    color: #a8dadc;
    -webkit-text-stroke: 3px black;
    margin: 40px;
}

hr {
    width: 220px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid white;
    border-radius: 20px;
}

.box {
    border: 1px solid black;
}

.toggle-lines {
    border: none;
}

.box:hover {
    background-color: #8d99ae;
}

.box-etch {
    background-color: black;
}

button {
    cursor: pointer;
}

input {
    cursor: pointer;
}

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#draw-mode-text,
#color-mode-text {
    color: white;
    font-size: 20px;
    margin-bottom: 8px;
}

button:hover {
    background-color: #8d99ae;
    padding: 5px 10px;
    border-radius: 1.5em;
    font-size: 1em;
    transition: 0.3s;
}

.color-mode-btn:hover {
    background-color: #8d99ae;
    padding: 5px 10px;
    border-radius: 1.5em;
    font-size: 1em;
    transition: 0.3s;
}

.draw-mode-btn:hover {
    background-color: #8d99ae;
    padding: 5px 10px;
    border-radius: 1.5em;
    font-size: 1em;
    transition: 0.3s;
}

.active.draw-mode-btn {
    background-color: #ef233c;
    color: white;
    padding: 5px 10px;
    border-radius: 1.5em;
    font-size: 1em;
    transition: all .5s ease-in-out;
}

.active2.color-mode-btn {
    background-color: #ef233c;
    color: white;
    padding: 5px 10px;
    border-radius: 1.5em;
    font-size: 1em;
    transition: all .5s ease-in-out;
}

button {
    border: 1px solid black;
    border-radius: 1em;
    padding: 5px 10px;
}

#color-container {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
}

#color-btn {
    margin-bottom: 8px;
    padding: 5px 10px;
}

.color-mode-btn {
    border: 1px solid black;
    border-radius: 1em;
    padding: 5px 10px;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
}

.draw-mode-btn {
    border: 1px solid black;
    border-radius: 1em;
    padding: 5px 10px;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
}

#reset,
#reset-grid,
#toggle,
#apply {
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
}

#reset-btns {
    flex-direction: row;
}

#slider-value {
    color: white;
    font-size: 20px;
    margin-bottom: 8px;
}

#apply {
    margin-top: 10px;
}

.slider span {
    color: white;
    font-size: 20px;
}

#grid {
    width: 650px;
    height: 650px;
    display: grid;
    background-color: #FFF;
    box-shadow: 0 0 10px;
    border: 2px solid black;
}

#color-picker {
    cursor: pointer;
}

#erase-toggle-lines {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type='color'] {
    -webkit-appearance: none;
    width: 80px;
    height: 80px;
    border: none;
    background-color: transparent;
}

input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type='color']::-webkit-color-swatch {
    border: 2px solid black;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

input[type="range"] {
    -webkit-appearance: none;
    background-color: #457b9d;
    height: 10px;
    width: 200px;
    border: 1px solid black;
    border-radius: 1em;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #e63946;
    height: 30px;
    width: 10px;
    border: 1px solid black;
    border-radius: 1em;
}

footer {
    background-color: black;
    color: white;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.fa-github {
    color: white;
    font-size: 25px;
    transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}


/* Media Queries */
@media (max-width: 990px) {
    header {
        font-size: 40px;
    }

    #container {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
    }

    #btn-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    hr {
        display: none;
    }

}